<div class="row modal-header1 align-middle">
    <div class="col-4">Company</div>
    <div class="col-4">Plan</div>
    <div class="col-3">Policy No</div>
    <div class="col-1"></div>
</div>

<div class="row modal-input1">
    <div class="col-sm-4">
        {{item?.coveragePlan?.name}}
    </div>
    <div class="col-4">
        {{item?.policyHolder?.medicalCoverageId}}
    </div>

    <div class="col-4 d-flex justify-content-between">
        {{item?.policyHolder?.patientCoverageId}}
        <button type="button" class="btn menu-button remarks" [popover]="popTemplate2" placement="top" [outsideClick]="true">
            &#10247;
        </button>

        <ng-template #popTemplate2>
            <div class="row">
                <button class="btn btn-link-grey p-1" (click)="onShowExtraClicked(j)">
                    <i class="icon-info-circled"></i>
                </button>
                <button class="btn btn-link-grey p-1" (click)="onBtnDeleteClicked(j)">
                    <i class="icon-trash"></i>
                </button>
            </div>
        </ng-template>
    </div>
</div>

<div class="row modal-body1 align-middle">
    <div class="col-4">
        <div class="text-queue-sm text-indigo text-header-sm mb-1 pl-1">Plan Details</div>
        <div class="plan-details pl-1">
            <span>Cap Per Visit:</span> {{item?.coveragePlan?.capPerVisit?.limit | currency:'SGD':false}}
            <br>
            <span>Cap Per Year:</span> {{item?.coveragePlan?.capPerYear?.limit | currency:'SGD':false}}
            <br>
            <div *ngIf="item?.coveragePlan.copayment.value > 0">
                <span>Co-Payment:</span> {{item?.coveragePlan.copayment.value > 0 ?"Yes" :"No"}}
                <div *ngIf="item?.coveragePlan.copayment.paymentType=='DOLLAR'">
                    <span>Co-Payment Amount: </span> {{item?.coveragePlan.copayment.value | currency:'SGD':false}}
                </div>
                <div *ngIf="item?.coveragePlan.copayment.paymentType=='PERCENTAGE'">
                    <span>Co-Payment Percentage: </span> {{item?.coveragePlan.copayment.value}}%
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="text-queue-sm text-indigo text-header-sm mb-1 pl-1">Company Details</div>
        <div class="plan-details pl-1">
            <b>Contact Person:</b> INSERT NAME
            <!-- {{item.coverageSelected.contacts[0].name}} -->
            <br>
            <b>Address:</b> INSERT ADDRESS
            <!-- {{item.coverageSelected.address.unit}} {{item.coverageSelected.address.street}} {{item.coverageSelected.address.postalCode}} -->
            <br>
            <b>Email:</b> INSERT EMAIL
            <!-- {{item.coverageSelected.contacts[0].email}} -->
            <br>
            <b>Telephone:</b> INSERT TELEPHONE
            <!-- {{item.coverageSelected.contacts[0].directNumber}} -->
        </div>
    </div>
</div>
<div class="row plan-remark-headers">
    <div class="col-4">Clinic Remarks</div>
    <div class="col-4">Registration Remarks</div>
    <div class="col-4">Payment Remarks</div>
</div>

<div class="row modal-body1 pl-1">
    <div class="col-4">{{item?.coveragePlan?.remarks}} </div>
    <div class="col-4">{{item?.policyHolder?.specialRemarks}} </div>
    <div class="col-4">{{item?.policyHolder?.status}} </div>
</div>

<!-- <div class="btn-toolbar float-right pt-2" role="toolbar">-->