<!-- <alert></alert> -->
<div class="row py-1" [class.container-duck-egg-blue-two]="isDiscountShown||isDiscountGiven" [formGroup]="medicalServiceItem">
  <!-- <div class="col-md-2">
        <ng-select class="p-0 form-control-sm form-control custom-select" [options]="serviceCodes" placeholder="Select Code">
        </ng-select>
        <input type="text" formControlName="serviceId" />
    </div> -->
  <div class="col-md-2">
    <ng-select class="p-0 form-control  form-control-sm custom-select custom-select-extra-width" bindLabel='name' bindValue='id'
      [clearable]=false (change)="onCategorySelect($event)" [items]="categories" [virtualScroll]="true" placeholder="Select Category"
      formControlName="serviceId">
    </ng-select>
  </div>
  <div class="col-md-4">
    <ng-select class="p-0 form-control form-control-sm  custom-select custom-select-extra-width" bindLabel='name' bindValue='id'
      [clearable]=false (change)="onNamesSelect($event)" [items]="names" [virtualScroll]="true" placeholder="Select Service"
      formControlName="serviceItemId">
    </ng-select>
  </div>
  <div class="col-md-2">
    <input class="form-control form-control-sm" type="text" readonly [(ngModel)]="priceWithGST" [ngModelOptions]="{standalone: true}"
    />
  </div>
  <div class="col-md-4">
      <div class="row no-gutters">
        <div class="col-md-10">
          <input class="form-control form-control-sm" type="text" />
        </div>
        <div class="col-md-2 pl-2 align-self-center form-control-sm">
          <div class="row no-gutters">
            <div class="col-md-5">
              <button class="btn-sm-sq btn-outline-gray-200" (click)="toggleDiscount()">
                <i [ngClass]="{'icon-up-open':isDiscountShown,'icon-down-open':!isDiscountShown}"></i>
              </button>
            </div>
            <!-- <button type="button" class="btn btn-sm" [popover]="popTemplate2" placement="top" [outsideClick]="true"> -->
            <div class="col-md-5">
              <i class="icon-ellipsis-vert" [popover]="popTemplate2" placement="top" [outsideClick]="true"></i>
            </div>
          </div>
          <!-- </button> -->
          <ng-template #popTemplate2>
            <div class="row ">
              <!-- <button class="btn btn-link-grey p-1 " (click)="onShowExtraClicked() ">
                                <i class=" icon-info-circled "></i>
                            </button> -->
              <button class="btn btn-link-grey p-1 " (click)="onbtnDeleteClicked()">
                <i class="icon-trash "></i>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

</div>
<hr class="row my-0" />
<!-- <button class=" btn btn-outline-pink float-right " (click)="onBtnAddClicked() ">+</button> -->
<app-discount [discountGroup]="medicalServiceItem.get('priceAdjustment')" [isDiscountShown]="isDiscountShown" [unitPrice]="price"
  [maxDiscount]="maxDiscount" [totalPrice]="price" [quantity]=1></app-discount>
<!-- <code>{{medicalServiceItem.value|json}}</code> -->