<div class="row border alertsPanel">
    <div class="col-9 pl-4">
        <app-consultation-patient-alert-info [patientInfo]='patientInfo' [alerts]="alerts" [medicalAlerts]="medicalAlerts"></app-consultation-patient-alert-info>
    </div>
    <div class="col-md-1">
        <button class="btn btn-md btn-bluish btn-block" (click)="onBtnSaveClicked()">Save</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-md btn-complete" style="margin-right:15px;" (click)="onBtnConsultSaveClicked()">Complete Consultation</button>
    </div>
</div>
<div class="row mt-5 ml-0 clearfix" style="background-color:#f2f2f2">
    <div id="queue-pane" class="col-md-3 pl-0 pr-0">
        <app-queue [isQueueHidden]="isQueueHidden" (onHide)="toggleBar($event)" (selectedPatient)="reloadPatientData($event)"></app-queue>
    </div>
    <div id="consultation-pane" class="col">
        <div *ngIf="selectedTabIndex>-1" class="row">
            <div *ngIf="!showSidePane" class="col-12">
                <app-consultation [visitManagementFormGroup]='visitManagementFormGroup' [needRefresh]="needRefresh" [patientInfo]='patientInfo' [selectedPlans]='selectedPlans' [policyHolderInfo]='policyHolderInfo' [selectedTabIndex]='selectedTabIndex' (tabSelected)='toggleTabs($event)'></app-consultation>
            </div>
            <div *ngIf="showSidePane" class="col-8">
                <app-consultation [visitManagementFormGroup]='visitManagementFormGroup' [needRefresh]="needRefresh" [patientInfo]='patientInfo' [selectedTabIndex]='selectedTabIndex' (tabSelected)='toggleTabs($event)'></app-consultation>
            </div>
            <div *ngIf="showSidePane" class="col-4 pl-0">
                <!-- <app-consultation-prescription class="mt-0" [itemsFormArray]="visitManagementFormGroup.get('consultationFormGroup').get('drugDispatch').get('dispatchDrugDetail')"></app-consultation-prescription> -->
                <app-consultation-prescription class="mt-0" [itemsFormArray]="visitManagementFormGroup.get('consultationFormGroup').get('dispatchItemEntities')"></app-consultation-prescription>

            </div>
        </div>
    </div>
</div>